<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EModulPengembara"
        tools:targetApi="31">
        <activity
            android:name=".Mindmap2Activity"
            android:exported="false" />
        <activity
            android:name=".MindmapActivity"
            android:exported="false" />
        <activity
            android:name=".KarakterActivity"
            android:exported="false" />
        <activity
            android:name=".KedatanganActivity"
            android:exported="false" />
        <activity
            android:name=".ImperialismeActivity"
            android:exported="false" />
        <activity
            android:name=".ApersepsiActivity"
            android:exported="false" />
        <activity
            android:name=".CptpActivity"
            android:exported="false" />
        <activity
            android:name=".DaftarIsiActivity"
            android:exported="false" />
        <activity
            android:name=".CaraPenggunaanActivity"
            android:exported="false" />
        <activity
            android:name=".DataDiriActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>